/* PC */
@media (min-width:64em) {





}
/* TABLET AND MOBILE */
@media (max-width:63.9375em) {
    .content-section {
        padding: 64px 16px 64px;
    }
    
    .btn {
        padding: 15px 16px;
    }

    #contact-inf .form-control {
        padding: 15px;
    }

    .social a {
        font-size: 48px;
    }

    #contact-inf .inf-contact {
        line-height: 2;
        padding-left: 12px;
    }

    #footer .social a {
        margin: 0 8px;
    }

    #footer .p-footer {
        margin: 12px;
    }

    #footer .p-footer a {
        padding: 12px 0;
    }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .content-section {
        margin: 0 24px 0;
    }
}

/* MOBILE */
@media (max-width:46.1875em) {
    
    .s-col-full {
        width: 100%;
    }
    
    #header .mobile-menu {
        display: block;
    }
    .s-mt-8 {
        margin-top: 8px;
    }

    #header .search-btn {
        display: none;
    }

    #header {
        overflow: hidden;
    }
    #nav > li {
        display: block;
    }

    #nav > li > a {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 22px;
    }
    #content .mem-img {
        width: 60%;    
    }

    #band .paragragh {
        margin: 0 16px 0;
    }

    .contact-body {
        margin: 0 8px 0;
    }
    .inf-form {
        margin-top: 32px;
    }
    .btn {
        margin-right: -4px;
    }
}
